header {
    .navbar {
        .navbar-brand {
            img {
                width: 150px;
            }
        }

        //.navbar-brand end
    }

    //.navbar end
    .navbar-toggler {
        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: $primary;
            margin-bottom: 5px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    //.navbar-toggler end
    .navbar-nav {
        .nav-item {
            .nav-link {
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 10px;
                border-bottom: 2px solid transparent;

                &:hover,
                &.active {
                    // border-bottom: 2px solid $primary;
                    background-color: $primary;
                    color: $white;
                }
            }

            //.nav-link end
        }

        //.nav-item end
    }

    //.navbar-nav end
}

@media(min-width:768px) {
    header {
        .navbar {
            .navbar-brand {
                img {
                    width: 200px;
                }
            }

            //.navbar-brand end
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin-left: 20px;
                        text-transform: uppercase;
                        background-color: transparent;
                        color: $light;
                        border-bottom: 2px solid transparent;
                        &:hover,
                        &.active {
                            color: $primary;
                            border-bottom: 2px solid $primary;
                            transition: all 0.5s linear;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:992px) {
    header {
        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin-left: 73px;
                    }
                }
            }
        }
    }
}